.presentacion {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  color: var(--white);
  text-align: center;
}
.titulo {
  font-size: 50px;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: 700;
}
.parrafo {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: var(--light);
  padding-bottom: 20px;
}
.boton {
  display: block;
  width: fit-content;
  padding: 10px 50px;
  margin: 0 auto;
  color: var(--white);
  transition: var(--transition-03s);
  text-transform: uppercase;
  border-radius: 20px;
}
.boton:hover {
  color: var(--rojo);
}
.page {
  text-align: center;
  color: var(--gray-all);
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 500px) {
  .presentacion h1 {
    font-size: 35px;
  }
}

