.footer {
  background: rgba(0, 115, 255, 0.145);
  background-blend-mode: multiply;
  background-image: url("/fondo4.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  line-height: 1.5;
  margin-top: 50px;
}
.suscripcion {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  background: var(--white);
  border-radius: 20px;
  padding: 20px;
  margin-top: -90px;
  box-shadow: var(--box-shadow-3);
  border: 1px solid var(--gray-all);
  gap: 20px;
}
.suscripcion h2 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 800;
}
.suscripcion form {
  height: 60px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  border: 1px solid;
  border-top-color: var(--purple);
  border-left-color: var(--indigo);
  border-bottom-color: var(--azul);
  border-right-color: var(--blue);
  padding: 5px;
  background: var(--gray-transparente);
}
.suscripcion form:hover {
  outline: 1px solid var(--purple);
}
.suscripcion input[type="email"] {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  font-size: 14px;
  background: transparent;
}
.suscripcion input[type="email"]:disabled {
  cursor: not-allowed;
}
.suscripcion input[type="submit"] {
  display: block;
  background: var(--fondo-color);
  color: var(--white);
  font-size: 15px;
  text-transform: capitalize;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  padding: 10px 30px;
  cursor: pointer;
  transition: 1s ease all;
  opacity: 1;
}
.suscripcion input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: all;
}
.suscripcion input[type="submit"]:disabled:hover {
  opacity: 0.5;
  background-image: var(--fondo-color);
}
.suscripcion input[type="submit"]:hover {
  background-image: var(--fondo-alreves);
  opacity: 0.8;
}
.footer ul {
  padding: 0;
  margin: 0;
}
.contenido {
  padding: 50px 30px;
  padding-bottom: 20px;
}
.top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 50px;
}
.logo {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo span {
  color: var(--white);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
}
.titulo {
  color: var(--white);
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: capitalize;
}
.link {
  color: var(--gray-all);
  font-size: 14px;
  transition: var(--transition-03s);
}
.link:hover {
  color: var(--white);
  text-decoration: underline !important;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.copyright {
  font-size: 14px;
  color: var(--white);
}
.iconos {
  display: flex;
  align-items: center;
  gap: 20px;
}
.iconos a {
  font-size: 23px;
  color: var(--white);
  transition: var(--transition-03s);
  position: relative;
}
.iconos a svg {
  width: 30px;
  transition: var(--transition-03s);
}
.iconos a svg:hover {
  transform: scale(1.2);
}
.iconos a::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  top: 6px;
  right: -12px;
  height: 28px;
  background: var(--gray-all);
}
.iconos a:last-child:after {
  display: none;
}
.botones {
  display: flex;
  align-items: center;
  gap: 30px;
}
.estado {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--gray-all);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  transition: var(--transition-03s);
  display: flex;
  align-items: center;
  gap: 10px;
}
.estado div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}
.estado span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.estado i {
  font-size: 20px;
}
.themaContenedor {
  position: relative;
}
@media (max-width: 1100px) {
  .top {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
  }
  .logo {
    order: 1;
    padding-top: 20px;
  }
  .titulo {
    font-size: 16px;
    font-weight: 500;
  }
  .item {
    width: 100%;
    max-height: 30px;
    overflow: hidden;
    transition: var(--transition-03s);
    color: var(--white);
  }
  .despegable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-all);
    cursor: pointer;
  }
  .despegable h2 {
    pointer-events: none;
  }
  .despegable svg {
    pointer-events: none;
  }
  .bottom {
    flex-direction: column;
  }
  .iconos {
    order: 4;
  }
  .copyright {
    order: 5;
    text-align: center;
  }
}
@media (max-width: 520px) {
  .contenido {
    padding: 10px;
  }
  .suscripcion {
    display: block;
    text-align: center;
  }
  .suscripcion form {
    height: fit-content;
  }
  .suscripcion h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .suscripcion input[type="submit"] {
    padding: 10px 20px;
  }
  .contenido {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 440px) {
  .botones {
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .contenido {
    padding: 0;
  }
  .contenido {
    padding-top: 40px;
  }
}
