.presentacion {
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  color: var(--white);
  text-align: center;
}
.titulo {
  font-size: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.parrafo {
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--light);
}
.boton {
  display: block;
  width: fit-content;
  padding: 10px 50px;
  margin: 0 auto;
  color: var(--white);
  background: var(--blue);
  transition: var(--transition-03s);
  border: 2px solid var(--blue);
  text-transform: uppercase;
  border-radius: 20px;
}
.boton:hover {
  background: transparent;
  color: var(--blue);
}
.carreras {
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  font-weight: 500;
}
.carreras::-webkit-scrollbar {
  display: none;
}
.carreras .boton {
  flex: auto;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background: transparent;
  border: 1px solid var(--gray-all);
  background: rgba(0, 0, 0, 0.04);
  color: var(--gray-all);
  border-radius: 10px;
  transition: var(--transition-03s);
}
.carreras .boton:hover {
  background: var(--primary);
}
@media (max-width: 940px) {
  .carreras {
    padding-bottom: 150px;
  }
}
@media (max-width: 500px) {
  .presentacion {
    min-height: fit-content;
    padding-top: 50px;
  }
  .presentacion h1 {
    font-size: 35px;
  }
}
